{% extends "socialtune/base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/main.css">

    <div class="row justify-content-center" id="firstrow">

        <h3 class="justify-content-center">Accelerate Growth and Brand Impact</h3>

        <div class="row justify-content-center">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center">

                <object type="image/svg+xml" data="static/svg/socialtune-header.svg"
                        style="display: block;margin: auto;width: 80%; padding: 30px;">
                    Your browser does not support SVG
                </object>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                <div class="row justify-content-center" style="padding: 15px;">
                    <div class="col">
                        <p style="padding: 15px;">SocialTune for Instagram uses intelligent algorithms and geo-location
                            services to help small
                            business
                            and brands grow faster, optimize their social strategy, and micro-target their customers
                            with
                            proven
                            methods</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <button type="submit" name="est" class="btn btn-primary">REQUEST 10 day TRIAL
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="whiterow">
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center">
            <object type="image/svg+xml" data="static/svg/grow-organic.svg"
                    style="width: 40%;">
                Your browser does not support SVG
            </object>
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center" style="margin: auto;">
            <div class="row justify-content-center" style="padding: 15px;">
                <h3>Grow organically, not artifically</h3>
                <p>Introduce astutely-targeted keywords and hashtags into your content to focus on improving what is
                    most
                    effective.</p>
            </div>
        </div>
    </div>
    <div class="row" id="whiterow">
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center" style="margin: auto;">
            <div class="row justify-content-center" style="padding: 15px;">
                <img src="static/svg/people-heart.svg" class="img-fluid">
            </div>
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center" style="margin: auto;">
            <div class="row justify-content-center" style="padding: 15px;">

                <h3>Follower size and likes only tell part of the
                    story</h3>
                <p>SocialTune gives you detailed control over your growth progress and target audience. See your
                    profile
                    metrics in realtime, and use our easy tools for analysis to optimize your social strategy to convert
                    followers into customers.</p>
            </div>
        </div>
    </div>
    <div class="row" id="whiterow" style="margin-bottom: 0px;">
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center">
            <object type="image/svg+xml" data="static/svg/locate-people.svg"
                    style="width: 40%;">
                Your browser does not support SVG
            </object>
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center">
            <div class="row justify-content-center" style="padding: 15px;">
                <h3>Locate you audience faster with your unique voice</h3>
                <p>Tell your story to youe preferred customers with an aproach that showcases your brand and learn how
                    to
                    optimize our features to provide a bigger impact.</p>
            </div>
        </div>
    </div>

    <div class="row" id="grayrow">
        <div class="row justify-content-center" style="padding: 15px;">

            <h3>Say goodbye to slow growth with poor results.</h3></div>

        <div class="row justify-content-center" style="padding: 15px;">
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                <div class="row justify-content-center" style="padding: 15px;">
                    <img src="static/svg/large-audience.svg" class="img-fluid">

                </div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <h4>REACH LARGER AUDIENCES</h4></div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <p>Learn how automated processes adds value by the numbers</p>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                <div class="row justify-content-center" style="padding: 15px;">
                    <img src="static/svg/see-impact.svg" class="img-fluid">

                </div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <h4>SEE IMPACT</h4></div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <p>Spot which specific posts perform</p>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                <div class="row justify-content-center" style="padding: 15px;">
                    <img src="static/svg/spot-trends.svg" class="img-fluid">

                </div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <h4>SPOT TRENDS</h4></div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <p>Prioritize content copy based on trending topics and suggestions</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="padding: 15px;">
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                <div class="row justify-content-center" style="padding: 15px;">
                    <img src="static/svg/manage-brand.svg" class="img-fluid">

                </div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <h4>MANAGE YOUR BRAND</h4></div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <p>Communicate direct outgoing messaging</p>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                <div class="row justify-content-center" style="padding: 15px;">
                    <img src="static/svg/identify-detractors.svg" class="img-fluid" style="max-height: 100%">

                </div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <h4>IDENTIFY DETRACTORS</h4></div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <p>Easily profile winners and losers to better curate your profile</p>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                <div class="row justify-content-center" style="padding: 15px;">
                    <img src="static/svg/create-call.svg" class="img-fluid">

                </div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <h4>CREATE CALL TO ACTIONS</h4></div>
                <div class="row justify-content-center" style="padding: 15px;">
                    <p>Tagging and messaging featires add a touch to existing and potential customers</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center" style="padding: 15px;">
        <h3>Easy to use, extraordinarily powerful</h3>
    </div>
    <div class="row hidden-md-down">
        <object type="image/svg+xml" data="static/svg/steps123.svg"
                style="margin: auto;margin-top:60px; display: block; width: 80%;">
            Your browser does not support SVG
        </object>
    </div>
    <div class="row justify-content-center" style="padding: 15px;">
        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center" style="padding: 15px;">
            <div class="row justify-content-center" style="padding: 15px;">
                <p>1. Simply sign in with your existing Instagram account</p>
            </div>
        </div>
        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center" style="padding: 15px;">
            <div class="row justify-content-center" style="padding: 15px;">
                <p>2. SocialTune does all the work with a few clicks</p>
            </div>
        </div>
        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 justify-content-center" style="padding: 15px;">
            <div class="row justify-content-center" style="padding: 15px;">
                <p>3. Equip your brand with a powerful team and tools</p>
            </div>
        </div>
    </div>
    <div id="lastrow">
        <div class="row justify-content-center" style="padding: 15px;">
            <h2 id="feature_desc">Try it free for 10 day</h2></div>
        <div class="row justify-content-center" style="padding: 15px;">
            <button id="feature_desc" style="" type="submit" name="est" class="btn btn-primary">REQUEST 10 day TRIAL
            </button>
        </div>
    </div>

{% endblock %}